*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open-sans";
}
@font-face{
    font-family: "open-sans";
    src: url("../fonts/OpenSans-Light.ttf");
}
html,body{
   height: auto;
}
.containner{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    width: 100%;
    height: 100%;
    max-height:500px;
    min-height: 500px;
    padding: 40px  2%;
    background-image: url("../img/capa.png");
    background-size: cover;
    background-position: center;
}

header .containner .logo{
    float: left;
    width:50%;
    max-width: 160px;
}

.logo img{
    max-width: inherit;
}
 
nav.menu-desktop {
    width:50%;
    float: right;
}

nav.menu-desktop ul{
    float: right;
}
header .containner nav.menu-desktop ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0 20px;
  
}

header .containner nav.menu-desktop ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
  
}

/* mobile*/ 

header nav.menu-mobile{
    display: none;
    width:100%;
    max-width: 32px;
    height: 32px;
    background-image: url("../img/menu.png");
    background-size:100% 100%;
    background-position: right;
    background-repeat: no-repeat;
    margin: 0 20px;
    float: right;
    cursor: pointer;


}


header nav.menu-mobile ul{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top:80px;
    background: rgba(255, 255, 255, 0.863);
    list-style-type: none;
    text-align: center;
    margin-bottom: 20px;
    
} 

header nav.menu-mobile ul li{
    padding: 4px 0;
    width:100%;
    border-top: 1px solid rgb(136, 136, 136);
    border-bottom:1px solid rgb(136, 136, 136);
}
header nav.menu-mobile ul li a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}


header .containner nav ul li:hover{
    color:white;
    font-weight: bold;
}

.containner .chamada{
    width:60%;
    max-width: 800px;
    float: right;
    margin: 100px 83px;

}

.chamada h2{
    font-size:40px;
    color: white;
    font-weight: normal;
}

.chamada p{
    color:white;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 18px;

}

/* Apartir da que é a section*/

section.sessao-1{
    width: 100%;
    background: #472562;
    height: 400px;
   

}
.sessao-1 .containner{
    max-width: 1060px;
    padding: 0 2%;
    height: 400px;
   
}

.containner .text-section{
    width: 46%;
    float: left;
    margin-top: 60px;
    position: relative;
    left: 40px;
 
}

.text-section h2{
    font-weight: normal;
    font-size: 30px;
    color:white;
    margin-bottom: 15px;
}
.text-section p{
    color:white;
}
.text-section ul{
    list-style-position: outside;
    padding-top: 7px;
    padding-left: 19px;
}
.text-section ul li{
    color: white;
    margin-top: 5px;
    font-weight: bold;
}


.text-section .botao input[type=submit] {
    width: 50%;
    max-width: 170px;
    height: 45px;
    background-color: #ff703e;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius:25px;
    margin-top: 25px;
    cursor: pointer;
}

.text-section .botao input[type=submit]:hover{
	background-color:rgb(167, 54, 14);
	transition:0.4s;
}
.sessao-5 .form form input[type=submit]:hover{
	background-color:rgb(167, 54, 14);
	transition:0.4s;
}

.device {
    width: 54%;
    height:475px;
    float: right;
    background-image: url(../img/device.fw.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: -40px;
   
}




section.sessao-5{
    width: 100%;
    padding: 100px 0;
    background: #472663;
}

section.sessao-5 .form{
    width: 50%;
    float: left;
    color: white;
    padding: 0 10px;
}

.sessao-5 .form h2{
    color: white;
    font-size: 40px;
    font-weight: normal;

}

.sessao-5 .form p{
    color:white;
    font-size: 16px;
    width: 100%;
    max-width: 444px;
}

.sessao-5 .form form{
    margin-top: 15px;
}

.sessao-5 .form form  input[type=text],.sessao-5 input[type=email]{
    width: 100%;
    max-width: 480px;
    height: 58px;
    padding-left: 8px;
    line-height: 58px;
    margin: 5px 0;
    border:1px solid rgb(200, 200, 200);
    outline: none;
    
}

.sessao-5 .form form textarea{
    width: 100%;
    max-width: 480px;
    height: 160px;
    padding: 15px;
    border: 1px solid rgb(200, 200, 200);
    margin-top: 5px;
    outline: none;

}


.sessao-5 .form form input[type=submit]{
    width: 100%;
    max-width: 105px;
    height: 44px;
    color: white;
    background-color: #ff703e;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    display: block;
    margin-top: 15px;
    cursor: pointer;
    outline:none;

}

.sessao-5 .wraper {
    width: 50%;
    float: left;
    padding: 0 10px;
  
}


.wraper  h2{
    color:rgb(255, 255, 255);
    font-weight: normal;
    font-size: 40px;
}

.wraper .wraper-3{
    width: 100%;
    max-width: 480px;
    position: relative;
}

.wraper-3 .wraper-2{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 100%;
    margin-top: 10px;

}

.wraper-3 .wraper-2 .map{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    border: 5px solid rgb(200, 200, 200);
    cursor: crosshair;
}


footer{
    width: 100%;
    padding: 40px 2%; 
    background:#1a2124 ;
 

    
}
 footer p{
     color: white;
     font-size: 14px;
 }

 
footer p:nth-of-type(1){
    float: left;
}


footer p:nth-of-type(2){
    float: right;
}

section.sessao-2{
    padding-top:40px;
    padding: 0 2%;
    background: white;
    text-align:center;
}

section.sessao-2 .containner .text-sessao-2{
    width: 100%;
    max-width: 945px;
    display:inline-block;
}

.text-sessao-2 h2{
    color:#472663;
    font-size: 40px;
    padding-bottom: 13px;
}
.text-sessao-2 p{
    color:#472663;
    font-size:16px;
    line-height: 32px;

}

.sessao-2 .img-sessao-2{
    width:100%;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
    top: 58px;
    left: 0;
    box-shadow: 4px 3px 29px gray;
    
    
}

.img-sessao-2 img{
  width:inherit;
 

}

section.sessao-3{
    width: 100%;
    background-color: #835fa8;
    display: flex;
    
    
}

.sessao-3 .parte-1 {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
  
}


.sessao-3 .parte-1-1{
    max-width: 550px;
    padding: 132px 80px 90px 7%;
    

}

.parte-1-1 h2{
    font-size: 20px;
    color: white;
    font-style: italic;
}
.parte-1-1 p{
    
    color: white;
}


.parte-2{
    width: 40%;
    background-color:white;
    align-items: flex-end;
    padding: 120px 80px 60px 60px ;
    
}


 .parte-2 .perfil-wraper{
    max-width: 450px;
	overflow:hidden;
}

.parte-2 .scroll-equipe{
	width: 100%;
	float:left;
}

.parte-2 .scroll-equipe .sobre-autor{
	float:left;
	padding: 0 15px;
}  
    
.scroll-equipe .sobre-autor .text{
    display: flex;
}
 .scroll-equipe .sobre-autor .img-perfil img{ 
    max-width: 60px;
    max-height: 60px;
    margin-left:15px;
    
}

.sobre-autor .text-sobre{
    margin-top: 20px;
    text-align: justify;
    
}
.sobre-autor .text{
    text-align: left;
}


.sobre-autor .spans span{
    width: 20px;
    height:20px;
    background-color: #ccc;
    border-radius: 10px;
    margin-top: 30px;
    display: inline-block;
    cursor:pointer;
    margin: 20px 5px;
}





/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
/*############################################################################*/
/*############################################################################*/


/*  RESPONSIVO */
/*  RESPONSIVO */
/*  RESPONSIVO */

@media screen and (max-width: 938px){

    header{
        width: 100%;
        height: auto;
    }


    .chamada h2{
        font-size:20px;
        color: white;
        font-weight: normal;
    }
    
    .sessao-1 .containner{
        text-align: center;
        max-width: 100%;
        height: auto;
    }
    .containner .text-section{
        width: 100%;
        float:none;
        display: inline-block;
        left: 0;
       
        
    }
    .text-section ul{
        display: inline-block;
    }
    .text-section ul li{
        text-align: left;
        

    }

    .device {
      float: none;
      display: none;

    }
        
}/*/RESPONSIVO*/



/*/////////RESPONSIVO////////////*/



@media screen and (max-width: 837px){
    .sessao-3 {
        flex-direction: column;
        align-items: center;
        padding-top: 50px ;
    }


    .sessao-3 .parte-1 {
        width: 100%;
       text-align: center;
       flex-direction: row;
       justify-content: center;
       padding:30px;
      
    }
    .sessao-3 .parte-1-1{
        max-width: 600px;
        padding:0;
        

    }
    .parte-2{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color:white;
        padding: 30px 2%;
        margin-top: 30px;;
        
    }
    .parte-2 .scroll-equipe .sobre-autor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .scroll-equipe .sobre-autor .text{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
    }

    .scroll-equipe .sobre-autor .text-sobre p{
        text-align: center;
    }

    .spans{
        display: flex;
        justify-content: center;
    }
    
    
}
    








/*////////////////////////////////////////////*/





@media screen and (max-width: 768px){
    
    header .containner{
        text-align: left;
    }


    header .containner .logo{
        float: none;
        width:50%;
        max-width: 160px;
        display: inline-block;
    }

    nav.menu-desktop {
       display: none;
    }
    

   
    header nav.menu-mobile{
    display: block;
    width:50%;
    max-width: 32px;
    height: 32px;
    background-image: url("../img/menu.png");
    background-size:100% 100%;
    background-position: right;
    background-repeat: no-repeat;
    margin: -24px 20px;
   
}

    header nav.menu-mobile:hover ul {
        opacity: 1;
    }
    header nav.menu-mobile ul li a:hover  {
        color: rgb(19, 136, 204);
        border-bottom: 3px groove rgb(4, 78, 121);
        
    }

    .containner .chamada{
            width:100%;
            max-width: 800px;
            float: none;
            margin-top: 157px;
            margin-right: 0;
            margin-left: 0;
            text-align: center;
        
        }


        .text-sessao-2 h2 {
           font-size:25px ;
           padding: 20px;
        }

       
        
        .sessao-2 .img-sessao-2{
            width:100%;
            padding-left: 1%;
            padding-right: 1%;
            position: relative;
            top: 9px;
            left: 0;
            padding-bottom: 10px;
        }
        
        
        section.sessao-5{
            padding: 25px 0;
        }   
        section.sessao-5 .form{
            width: 100%;
            float: none;
            text-align: center;
          
            

        }
        .sessao-5 .form h2{
            margin-bottom: 10px;
            font-size: 25px;
        }
        .sessao-5 .form p{
            width: 100%;
            font-size: 16px;
            max-width:none;
           
        }

       

        .sessao-5 .wraper {
            width: 100%;
            float: none;
            padding: 0 8%;
           
        }

        .sessao-5 .wraper h2{
            font-size: 25px;
        }
        .sessao-5 .form form input[type=submit]{
            display: inline-block;
            margin: 30px 0;
            
        
    }

        .wraper{
            width: 100%;
            float: none;
            text-align: center;
        }

        .wraper .wraper-3{
            width: 90%;
            padding-top: 90%;
            max-width:none;
            position: relative;
            display: inline-block;
            margin-top: 10px;
        }

        .wraper-3 .wraper-2{
            width: 100%;
            height: 100%;
            padding-top:0;
            margin-top: 10px;
            

        }

        footer p{
            width: 100%;
            float: none;
            text-align: center;
        }
        footer p:nth-of-type(2){
            margin-top: 8px;
        }
		


}
	
	
@media screen and (max-width:250px){
.text-section  h2{
	font-size:25px;
}
}
